.pagination {
  display: flex;
  color: #000;
  list-style: none;
  text-align: center;
  .active {
    color: #409eff;
    cursor: default;
  }
  li, button {
    margin: 2px;
    height: 28px;
    line-height: 28px;
    font-weight: 700;
    font-size: 13px;
    min-width: 35.5px;
    cursor: pointer;
  }
  button {
    border: none;
    background: none;
    &[disabled] {
      cursor: not-allowed;
      color: rgba(16, 16, 16, 0.3);
    }
  }
  li:hover, button:hover {
    color: #409eff;
    &[disabled] {
      cursor: not-allowed;
      color: rgba(16, 16, 16, 0.3);
    }
  }
}