.v-card {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  &.is-always {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }
  &.is-hover {
    &:hover {
      box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }
  }
}