.v-checkbox {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  &.is-active {
    .v-checkbox-item {
      background-color: #409eff;
      border-color: #409eff;
    }
    .v-checkbox-text {
      color: #409eff;
    }
  }
  &.is-border {
    border: 1px solid #dcdfe6;
    padding: 4px 10px;
    border-radius: 4px;
    &.is-active {
      border: 1px solid #409eff;
    }
  }
  &.is-small {
    .v-checkbox-text {
      font-size: 12px;
    }
    .v-checkbox-item {
      width: 12px;
      height: 12px;
    }
  }
  &.is-disabled {
    cursor: no-drop;
    &:hover {
      .v-checkbox-item {
        border-color: #dcdfe6;
      }
    }
    .v-checkbox-item {
      opacity: .3;
    }
    .v-checkbox-text {
      opacity: .3;
    }
  }
}
.v-checkbox-item {
  width: 14px;
  height: 14px;
  line-height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  position: relative;
  margin-right: 10px;
  &:hover {
    border-color: #409eff;
  }
}
.el-icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1px;
  color: #fff;
}
