@mixin btnType($color, $bgColor, $borderColor) {
  
}

.v-button {
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid rgb(240, 240, 240);
  background: #fff;
  line-height: 1;
  color: #606266;
  font-size: 14px;
  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background: #ecf5ff;
  }
  &:active {
    border-color: #3a8ee6;
    color: #3a8ee6;
    outline: none;
  }
  // 圆角按钮
  &.is-radio {
    border-radius: 20px;
    padding: 12px 23px;
    &.is-medium {
      border-radius: 20px;
    }
    &.is-radio.is-small {
      border-radius: 20px;
    }
    &.is-radio.is-mini {
      border-radius: 20px;
    }
  }
  &.is-medium {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
  }
  &.is-small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
  }
  &.is-mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
  }
  // 禁用按钮
  &.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
    &:hover {
      color: #c0c4cc;
      cursor: not-allowed;
      background-image: none;
      background-color: #fff;
      border-color: #ebeef5;
    }
    &:active {
      color: #c0c4cc;
      cursor: not-allowed;
      background-image: none;
      background-color: #fff;
      border-color: #ebeef5;
    }
  }
  // 主要按钮
  &.is-primary {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
    &:hover {
      color: #fff;
      background: mix(#fff, #409eff, 20%);
      border-color: #409eff;
    }
    &:active {
      color: #fff;
      background: mix(#000, #409eff, 20%);
      border-color: #409eff;
    }
    &.is-disabled {
      color: mix(#fff, #409eff, 50%);
      background-color: #ecf5ff;
      border-color: #d9ecff;
      // &:hover {
      //   color: mix(#fff, #409eff, 50%);
      //   background-color: #ecf5ff;
      //   border-color: #d9ecff;
      // }
    }
  }
  // 成功按钮
  &.is-success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
    &:hover {
      color: #fff;
      background-color: mix(#fff, #67c23a, 10%);
      border-color: #67c23a;
    }
    &:active {
      color: #fff;
      background: mix(#000, #67c23a, 20%);
      border-color: #67c23a;
    }
    &.is-disabled {
      color: mix(#fff, #67c23a, 50%);
      background-color: #f0f9eb;
      border-color: #e1f3d8;
      // &:hover {
      //   color: #a4da89;
      //   background-color: #f0f9eb;
      //   border-color: #e1f3d8;
      // }
    }
  }
  // 信息按钮
  &.is-info {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
    &:hover {
      color: #fff;
      background-color: mix(#fff, #909399, 10%);
      border-color: #909399;
    }
    &:active {
      color: #fff;
      background: mix(#000, #909399, 20%);
      border-color: #909399;
    }
    &.is-disabled {
      color: mix(#fff, #909399, 50%);
      background-color: #f4f4f5;
      border-color: #e9e9eb;
    }
  }
  // 警告按钮
  &.is-warning {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    &:hover {
      color: #fff;
      background-color: mix(#fff, #e6a23c, 10%);
      border-color: #e6a23c;
    }
    &:active {
      color: #fff;
      background-color: mix(#000, #e6a23c, 20%);
      border-color: #e6a23c;
    }
    &.is-disabled {
      color: mix(#fff, #e6a23c, 50%);
      background-color: #fdf6ec;
      border-color: #faecd8;
    }
  }
  // 危险按钮
  &.is-danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    &:hover {
      color: #fff;
      background-color: mix(#fff, #f56c6c, 10%);
      border-color: #f56c6c;
    }
    &:active {
      color: #fff;
      background-color: mix(#000, #f56c6c, 20%);
      border-color: mix(#000, #f56c6c, 20%);
    }
    &.is-disabled {
      color: #fff;
      background-color: mix(#fff, #f56c6c, 50%);
      border-color: mix(#fff, #f56c6c, 50%);
    }
  }
}
